# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_PASSWORD=

# Sendgrid
SENDGRID_API_KEY=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_DEBUG=

# AWS S3
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_MS=

# Auth
PASSWORD_RESET_URL=
CERTIFICATE_VERIFY_BASE_URL=

#OpenAI
OPENAI_API_KEY=
